@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.square {
    border: 1px solid rgb(0, 83, 38);
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    border: 15px solid rgb(0, 83, 38);
    border-radius: 10px;
    background-color: white;

}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 10, 19);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 10, 19);
}

input {
    margin-left: 20px;
    margin-right: 20px;
    width: 180px;
    border: 8px solid rgb(0, 83, 38);
    border-radius: 15px;
    outline: none;
}

button {
    background-color: rgb(112, 10, 19);
    color: white;
    border: 5px solid rgb(0, 83, 38);
    border-radius: 15px;
    font-weight: bold;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
}


h1 {
    font-weight: bold;
    color: white;
    border: 5px solid rgb(0, 83, 38);
    border-radius: 15px;
}